<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

Assignment Preparation: Working with real-world data sets and built-in SQL functions

In [1]:
!pip install ipython_sql
!pip install ibm_db_sa
!pip install sqlalchemy==1.3.9
import ibm_db
%load_ext sql

Requirement already satisfied: ipython_sql in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.3.9)
Requirement already satisfied: ipython>=1.0 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ipython_sql) (7.16.1)
Requirement already satisfied: sqlparse in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ipython_sql) (0.4.1)
Requirement already satisfied: prettytable in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ipython_sql) (2.1.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ipython_sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ipython_sql) (1.3.9)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ipython_sql) (1.15.0)
Requirement already satisfied: decorator in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ipython>=1.0->ipython_sql) (4.4.2)
Requirement already satisfied: backcall in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ipython>=1.0->ipython_sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ipython>=1.0->ipython_sql) (3.0.18)
Requirement already satisfied: pexpect; sys_platform != "win32" in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ipython>=1.0->ipython_sql) (4.8.0)
Requirement already satisfied: pygments in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ipython>=1.0->ipython_sql) (2.8.1)
Requirement already satisfied: traitlets>=4.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ipython>=1.0->ipython_sql) (4.3.3)
Requirement already satisfied: jedi>=0.10 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ipython>=1.0->ipython_sql) (0.17.2)
Requirement already satisfied: pickleshare in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ipython>=1.0->ipython_sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ipython>=1.0->ipython_sql) (52.0.0.post20210125)
Requirement already satisfied: wcwidth in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from prettytable->ipython_sql) (0.2.5)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from prettytable->ipython_sql) (3.10.1)
Requirement already satisfied: ptyprocess>=0.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython_sql) (0.7.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from jedi>=0.10->ipython>=1.0->ipython_sql) (0.7.1)
Requirement already satisfied: zipp>=0.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from importlib-metadata; python_version < "3.8"->prettytable->ipython_sql) (3.4.1)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from importlib-metadata; python_version < "3.8"->prettytable->ipython_sql) (3.7.4.3)
Requirement already satisfied: ibm_db_sa in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.3.3)
Requirement already satisfied: sqlalchemy>=0.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: sqlalchemy==1.3.9 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.3.9)

In [2]:
%sql ibm_db_sa://phl29089:qbfjtj8%2B30h9164b@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB

'Connected: phl29089@BLUDB'

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [3]:
%sql select COUNT(*) from CHICAGO_CRIME_DATA;

 * ibm_db_sa://phl29089:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [4]:
%sql select COMMUNITY_AREA_NAME, PER_CAPITA_INCOME from CENSUS_DATA where PER_CAPITA_INCOME<11000

 * ibm_db_sa://phl29089:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

### Problem 3

##### List all case numbers for crimes  involving minors?

In [5]:
%%sql 
select CASE_NUMBER, PRIMARY_TYPE, DESCRIPTION from CHICAGO_CRIME_DATA WHERE DESCRIPTION  LIKE '%MINOR%'
OR PRIMARY_TYPE LIKE '%MINOR%'
OR DESCRIPTION  LIKE '%Minor%'
OR PRIMARY_TYPE LIKE '%Minor%'
OR DESCRIPTION  LIKE '%minor%'
OR PRIMARY_TYPE LIKE '%minor%'
OR DESCRIPTION  LIKE '%CHILD%'
OR PRIMARY_TYPE LIKE '%Child%'

 * ibm_db_sa://phl29089:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('HN567387', 'OFFENSE INVOLVING CHILDREN', 'AGG SEX ASSLT OF CHILD FAM MBR'),
 ('HR391350', 'OFFENSE INVOLVING CHILDREN', 'SEX ASSLT OF CHILD BY FAM MBR'),
 ('HL266884', 'LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR'),
 ('HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [6]:
%%sql 
select CASE_NUMBER,PRIMARY_TYPE, DESCRIPTION FROM CHICAGO_CRIME_DATA 
WHERE "PRIMARY_TYPE" IN ('KIDNAPPING', 'ABDUCTION') and DESCRIPTION LIKE '%CHILD%'

 * ibm_db_sa://phl29089:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [7]:
%sql select DISTINCT(PRIMARY_TYPE), DESCRIPTION, LOCATION_DESCRIPTION FROM CHICAGO_CRIME_DATA \
WHERE "LOCATION_DESCRIPTION" LIKE '%SCHOOL%'

 * ibm_db_sa://phl29089:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PRIVATE, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PUBLIC, BUILDING'),
 ('NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'SCHOOL, PUBLIC, BUILDING'),
 ('NARCOTICS', 'POSS: HEROIN(WHITE)', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPASS', 'TO LAND', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'TO VEHICLE', 'SCHOOL, PUBLIC, GROUNDS')]

### Problem 6

##### List the average safety score for all types of schools.

In [8]:

%sql select "Elementary, Middle, or High School", AVG(Safety_Score) from SCHOOLS group by "Elementary, Middle, or High School"

 * ibm_db_sa://phl29089:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('ES', Decimal('49.520383')),
 ('HS', Decimal('49.623529')),
 ('MS', Decimal('48.000000'))]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [9]:
%sql select COMMUNITY_AREA_NAME,PERCENT_HOUSEHOLDS_BELOW_POVERTY from CENSUS_DATA order BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5

 * ibm_db_sa://phl29089:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

### Problem 8

##### Which community area is most crime prone?

In [16]:
%sql select COMMUNITY_AREA_NUMBER, count(COMMUNITY_AREA_NUMBER) as cam \
from CHICAGO_CRIME_DATA group by COMMUNITY_AREA_NUMBER order by cam desc limit 1

 * ibm_db_sa://phl29089:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(25, Decimal('43'))]

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [11]:
%sql select COMMUNITY_AREA_NAME from CENSUS_DATA WHERE HARDSHIP_INDEX =(select max (HARDSHIP_INDEX) from CENSUS_DATA)

 * ibm_db_sa://phl29089:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [31]:
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA \
WHERE "Community_Area_Number" = (SELECT COMMUNITY_AREA_NUMBER \
                                 FROM CHICAGO_CRIME_DATA \
                                 GROUP BY COMMUNITY_AREA_NUMBER ORDER BY count(COMMUNITY_AREA_NUMBER) DESC LIMIT 1);

 * ibm_db_sa://phl29089:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Austin',)]